:root {
    --size: 200px;
    --movement: 200px;
}

#gameArea {
    height: 100vh;
}

.enemy {
    z-index: 1;
    position: relative;
}

.enemy img {
    width: var(--size);
}

.cover {
    z-index: 2;
    position: relative;
    right: var(--size);
}

.cover img {
    width: var(--size);
}

.animate {
    animation-name: moveAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes moveAnimation {
    0% {
        left: 0;
    }

    50% {
        left: var(--movement);
    }

    100% {
        left: 0;
    }
}