#gameArea {
    height: 100vh;
}

.enemy {
    z-index: 1;
    position: relative;
}

.cover {
    z-index: 2;
    position: relative;
}

.animate {
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.moveLeft {
    animation-name: moveLeft;
}

.moveRight {
    animation-name: moveRight;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
}

.left {
    position: fixed;
    top: 50%;
    left: 25%;
}

.right {
    position: fixed;
    top: 50%;
    left: 75%;
}

@keyframes moveSmlRight {
    0% {
        left: 0;
    }

    50% {
        left: 100px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveSmlLeft {
    0% {
        left: 0;
    }

    50% {
        left: -100px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveMedRight {
    0% {
        left: 0;
    }

    50% {
        left: 200px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveMedLeft {
    0% {
        left: 0;
    }

    50% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveBigRight {
    0% {
        left: 0;
    }

    50% {
        left: 300px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveBigLeft {
    0% {
        left: 0;
    }

    50% {
        left: -300px;
    }

    100% {
        left: 0;
    }
}